<div class="footer-content">
  <div id="footer"class="container-fluid footer mt-5">
      <div class="row">
          <!-- name  -->
          <div id="footer-content">
              <h1>Esteem Bank</h1>
          </div>
          <div class="social-medias">
              <div class="row">
                <div class="col-sm">
                  <a href="facebook.com"><img src="/assets/Images/Facebook-logo.jpg " alt="twitter" height="48" width="55"> </a>
                </div>
                <div class="col-sm">
                  <a href="facebook.com"><img src="/assets/Images/twitter.jpg " alt="twitter" height="48" width="55"> </a>
                </div>
                <div class="col-sm">
                  <a href="facebook.com"><img src="/assets/Images/instagram.jpg" alt="twitter" height="48" width="55"> </a>
                </div>
              </div>
            </div>
      <div id="AboutUs">
          <ul id="AboutUs-list">
              <li><a routerLink="Loan-list">Loan-list</a></li>
              <li><a routerLink="apply-for-loan">Apply for Loan</a></li>
              <li><a href="registration">Registration</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="My Account">My Account</a></li>
              <li><a href="emi-loan-calculator">Loan-Calculator</a></li>
              <li><a href="about">About</a></li>
          </ul>
      </div>
    </div>
  </div>
  </div>
