p {
  font-family: Lato;
}
input[type=number] {
  width: 10%;
  padding: 10px 10px;
  border: 2px solid black;
  background-color: white;
  margin: 10px 0;
  box-sizing: content-box;

}
#button:hover{
  padding-top: 30px;

}
.emi{
  text-align: center;
}
