
  <div class="x">
    <h3>Personal Loan</h3>
   <p>Personal loan means, an unsecured type of loan that can be used to cater to various financial needs including home renovation, payment of education fees, medical fees, vehicle repair, debt consolidation, best credit card payment and others.</p>
   <button routerLink="/personalloan">Apply for personal loan</button>
   </div>

  <div class="x">
   <h3>Home Loan </h3>
   <p>Buying a house is one of the biggest dreams come true for affair altogether. Imparting life to such a dream requires a lot of effort from the buyers’ end and the best one can do to accommodate the home in their budget is through a home loan.</p>
   <button routerLink="/homeloan">Apply for Home loan</button>
   </div>

   <div class="x">
  <h3>Gold Loan </h3>
    <p>Gold loans or loans against gold are loans that can be taken by individuals by using gold; in the form of jewellery or ornaments or specially minted coins sold by banks, as security for said loan.Gold loans can be used to fund any of the borrower’s financial needs etc. </p>
    <button routerLink="/goldloan">Apply for Gold loan</button>
    </div>

    <div class="x">
   <h3>Business Loan </h3>
   <p>Running a business is not easy, and it does not help if you are not able to make payments and purchases on time to take advantage of the opportunities that come your way. This is why business loans have become an essential tool for the modern businessman. </p>
   <button routerLink="/businessloan">Apply for Business loan</button>
    </div><br>

