<!DOCTYPE html>
<html>
<body>

<h2>Home Loan Eligibility Criteria</h2>

<ul>
  <h5>Nationality</h5>
  <li>Indian</li>
  <br>
  <h5>Employment Status</h5>
  <li>At least 3 years of work experiance</li>
  <br>
  <h5>Age</h5>
  <li>23 years to 62 years</li>
  <div class="row"></div>
  <div class="column"></div>
  <br>
  <h4>CIBIL Score</h4>
  <li>750 or more</li>
  <br>
  <h5>Interest Rate</h5>
  <li>6.65% p.a onwards</li>
  <br>
  <h5>Minimum Income</h5>
  <li>City Specific (see table)</li>
  <table class="center">

    <tr>
      <th>City</th>
      <th>Minimum net salary per month</th>
      <th>Minimum property value</th>
    </tr>
    <tr>
      <td>Mumbai,Delhi,Goa,Hariyana</td>
      <td>Rs.30000</td>
      <td>Rs.15 Lakh</td>
    </tr>
    <tr>
      <td>Ahemdabad,Banglore,Baroda,Chennai</td>
      <td>Rs.250000</td>
      <td>Rs.15 Lakh</td>
    </tr>
  </table>
</ul>

<h2>Documents Required</h2>

<ol>
  <li>KYC Documents-Passport,Aadhar card,VoterId,Driving licenses (any one)</li>
  <li>Employee Id card</li>
  <li>Salary slip of the last 2</li>
</ol>
<a href="paymentplan">click here to know Payment Plan</a>
</body>
</html>

