

<h2>Esteem Bank Online Payment Modes</h2>

<ul>
  <h5>Through the My Account</h5>
  <p>
    The My Account poratal is equiped with a secured payment gateway.
    Here the steps to follow to complete transaction through this platform.
  </p>
  <ol>
    <li>Visit the Bank portal and login using credentials.</li>
    <li>Select the quick pay dropdown.</li>
    <li>Select the type of payment you want to make</li>
  </ol>
<br>
<h5>Through the My Account Mobile Application</h5>
<p>
  To facilitate this process of Esteem Bank EMI payment,borrowers can also utilies the My Account Mobile App.
</p>
<ol>
  <li>Download the app and log in with your registered mobile number..</li>
  <li>Go to Account information section and select online payment.</li>
  <li>Choose between EMI and other payment options.</li>
  <li>Select a preferred payment gateway and complete the transaction</li>
</ol>
<br>
<h5>Modes of EMI payments.</h5>
<ol>
  <li>NEFT or Bank transfer</li>
  <li>Using Debit or Credit cards</li>
  <li>Mobile Wallet</li>
  <li>Mobile Apps</li>
</ol>

